body {
	background: url('cclogo.svg') no-repeat center center fixed;
	-webkit-background-size: contain;
	background-size: contain;
}

.social {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	width: 30px;
}


@media(min-width:768px) {
	body{
		background: url('cclogo.svg') no-repeat center center fixed;
		width: 100%;
		height: 100%;
}

#images {
	text-align: center;
}

footer {
	font-size: 9px;
	font-family: Helvetica, sans-serif;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	/*display: inline-block;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}